body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative; 
    background: url("./assets/loginbackground.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0;
    padding: 0;
    position: relative;
    
  }
  
  .submit:visited{
    color: #fff;
    text-decoration: none;
  }
  #Submit{
    position:absolute;
    top: 73.5%;
    left: 82.5%;
    transform: translate(-50%, -50%);
    padding: 15px 30px;
    font-size: 1.5rem;
    color: #fff;
    background: #f63535;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    outline:none;
    text-decoration: none;
    text-decoration-color: #fff;
    
    }
      

    #Name{
        position: absolute;
        top: 54%;
        left:57%;
        font-size:xx-large;
    }
    #name{
        position: absolute;
        top:60.5%;
        left:57%;
        height: 40px;
        width: 200px;
        font-size: large;
    }
    #City{
        position: absolute;
        top: 75%;
        left:57%;
        font-size:xx-large;
    }
    #city{
        position: absolute;
        top:81.5%;
        left:57%;
        height: 40px;
        width: 200px;
        font-size: large;
    }

    /* .textbox{
  width: 50%; 
  height: 50%; 
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  resize: none;
    } */